:root {
    $primary-color: #FEFAE0;
    $text-color: #150C00;
    $secondary-color: #D8E5B6;
}

$primary-color: #FEFAE0;
$secondary-color: #D8E5B6;
$text-color: #150C00;  

$base-color-dark: #3C3B28;
$text-color-dark: #EAE6DA;
$secondary-color-dark: #4A5742;
