:root {
    $primary-color-light: #FEFAE0;
    $text-color-light: #150C00;
    $secondary-color-light: #D8E5B6;
}

$primary-color-light: #FEFAE0;
$text-color-light: #150C00;
$secondary-color-light: #D8E5B6;    

$base-color-dark: #3C3B28;
$text-color-dark: #EAE6DA;
$secondary-color-dark: #4A5742;
