@use "../index" as *;

//Phones
    main {

        @include flexbox(column, space-between, center, 0rem);
        padding: clamp(pxToRem(24px), -5.318rem + 29.091vw, pxToRem(40px)) clamp(pxToRem(16px), -0.705rem + 7.273vw, pxToRem(20px));
        height: 100%;

        .about-me-mobile-content {

            @include flexbox(column, start, center, 0rem);
            height: 100%;
            width: 100%;

            .about-me-top-section {
                @include flexbox(column, space-between, center, 0rem);
                gap: pxToRem(12px);

                .about-me-par {
                    text-align: center;
                    line-height: clamp(pxToRem(20px), -0.455rem + 7.273vw, pxToRem(24px));
                    @include typography($font-family: 'Poppins', $font-weight: 500, $font-size: clamp(pxToRem(13px), -0.338rem + 4.909vw, pxToRem(15.7px)), $letter-spacing: 0);
                }
            }

            .mobile-profile-picture {
                width: clamp(pxToRem(160px), -30.909rem + 174.545vw, pxToRem(256px));
                padding-bottom: clamp(pxToRem(24px), -5.318rem + 29.091vw, pxToRem(40px));
            }

            .about-me-btn {
                margin-bottom: clamp(pxToRem(24px), -8.727rem + 43.636vw, pxToRem(48px));
                transition: transform 0.3s ease, background-color 0.3s ease;
            }

            .about-me-btn:hover {
                transform: scale(1.1);
                background-color: black;
            }

            .about-me-bottom-section {

                @include flexbox(column, space-between, center, 0rem);
                gap: pxToRem(16px);
                width: 100%;

                hr {
                    width: 100%;
                    height: 2px;
                    border: none;
                    background-color: $text-color;
                }

                .social-media-buttons {

                    @include flexbox(row, center, center, 0rem);
                    width: 100%;
                    gap: pxToRem(40px);

                    .social-media-link {
                        @include flexbox(row, center, center, 0rem);
                        gap: clamp(0px, -1.705rem + 7.273vw, pxToRem(4px));
                        @include typography($font-family: 'Poppins', $font-weight: 400, $font-size: clamp(pxToRem(14px), -0.341rem + 5.455vw, pxToRem(18px)), $letter-spacing: -1px);

                        svg {
                            width: pxToRem(22px);
                            height: pxToRem(22px);
                            stroke-width: 1px;
                        }
                    }
                }
            }
        }

        .desktop-profile-picture {
            display: none;
        }
    }

//Tablets
@media (min-width: 481px) and (max-width: 1023px) {
    main {

        @include flexbox(column, space-between, center, 0rem);
        padding: clamp(pxToRem(24px), -5.318rem + 29.091vw, pxToRem(40px)) clamp(pxToRem(16px), -0.705rem + 7.273vw, pxToRem(20px));
        height: 100%;

        .about-me-mobile-content {

            @include flexbox(column, space-between, center, 0rem);
            height: 100%;
            width: 100%;

            .about-me-top-section {
                @include flexbox(column, space-between, center, 0rem);
                gap: pxToRem(12px);

                .about-me-par {
                    text-align: center;
                    line-height: clamp(pxToRem(20px), -0.455rem + 7.273vw, pxToRem(24px));
                    @include typography($font-family: 'Poppins', $font-weight: 500, $font-size: clamp(pxToRem(13px), -0.338rem + 4.909vw, pxToRem(15.7px)), $letter-spacing: 0);
                }
            }

            .mobile-profile-picture {
                width: clamp(pxToRem(160px), -30.909rem + 174.545vw, pxToRem(256px));
                padding-bottom: clamp(pxToRem(24px), -5.318rem + 29.091vw, pxToRem(40px));
            }

            .about-me-btn {
                margin-bottom: clamp(pxToRem(24px), -8.727rem + 43.636vw, pxToRem(48px));
            }

            .about-me-bottom-section {

                @include flexbox(column, space-between, center, 0rem);
                gap: pxToRem(16px);
                width: 100%;

                .social-media-buttons {

                    @include flexbox(row, center, center, 0rem);
                    width: 100%;
                    gap: pxToRem(40px);
                    

                    .social-media-link {
                        @include flexbox(row, center, center, 0rem);
                        gap: clamp(0px, -1.705rem + 7.273vw, pxToRem(4px));
                        @include typography($font-family: 'Poppins', $font-weight: 400, $font-size: clamp(pxToRem(14px), -0.341rem + 5.455vw, pxToRem(18px)), $letter-spacing: -1px);

                        svg {
                            width: pxToRem(22px);
                            height: pxToRem(22px);
                            stroke-width: 1px;
                        }
                    }
                }
            }
        }

        .desktop-profile-picture {
            display: none;
        }
    }
}

//Desktops
@media (min-width: 1024px) and (max-width: 1920px) {
    main {
        @include flexbox(row, center, center, 0rem);
        height: 100%;
        padding: clamp(2.5rem, -1.167rem + 5.729vw, 8rem) clamp(2.5rem, -14.643rem + 26.786vw, 17.5rem);
        gap: clamp(2.5rem, -1.667rem + 6.51vw, 8.75rem);

        .about-me-mobile-content {
            @include flexbox(column, center, center, 0rem);

            .about-me-top-section {
                gap: 0;
                padding: clamp(1.5rem, 0.833rem + 1.042vw, 2.5rem) 0px;

                .about-me-par {
                    text-align: center;
                    line-height: clamp(1.75rem, 0.917rem + 1.302vw, 3rem);
                    @include typography($font-family: 'Poppins', $font-weight: 500, $font-size: clamp(1.125rem, 0.696rem + 0.67vw, 1.5rem), $letter-spacing: -1px);
                }
            }

            .mobile-profile-picture {
                display: none;
            }

            .about-me-bottom-section {
                padding-top: clamp(4rem, 1rem + 4.688vw, 8.5rem);
                width: 100%;

                hr {
                    height: 3px;
                    border: none;
                    background-color: $text-color;
                }

                .social-media-buttons {

                    @include flexbox(row, start, center, 0rem);
                    gap: clamp(3.5rem, 2.5rem + 1.563vw, 5rem);
                    padding: clamp(1rem, 0.467rem + 0.833vw, 1.8rem) clamp(1rem, -0.333rem + 2.083vw, 3rem);
    
                    .social-media-link {
                        @include typography($font-family: 'Poppins', $font-weight: 400, $font-size: clamp(1.25rem, 1.107rem + 0.223vw, 1.375rem), $letter-spacing: -1px);
                        @include flexbox(row, center, center, 0rem);
                        gap: pxToRem(8px);

                        svg {
                            width: clamp(1.5rem, 1.167rem + 0.521vw, 2rem);
                            height: clamp(1.5rem, 1.167rem + 0.521vw, 2rem);
                            stroke-width: 1px;
                        }
                    }
                }
            }
        }
        .desktop-profile-picture {
            display: block;
        
            height: clamp(25rem, 15rem + 15.625vw, 33.75rem);
        }
    }
}

//4K screens, large screens
@media (min-width: 1921px) { }