@use "../index" as *;
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');

.bg-svg {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1728" height="1117" viewBox="0 0 1728 1117" fill="none"><path d="M-477 1064.5C30.8333 619.333 1051.16 -224.5 794 611.5C575.6 1321.5 1558.33 451 2046 -96" stroke="url(%23paint0_diamond_2789_588)" stroke-opacity="0.8" stroke-width="200"/><defs><radialGradient id="paint0_diamond_2789_588" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(241.742 802.017) rotate(-14.759) scale(1865.82 4056.41)"><stop stop-color="%23F29641"/><stop offset="0.5" stop-color="%23EEBF93"/><stop offset="1" stop-color="%23FFD9B5"/></radialGradient></defs></svg>') no-repeat;
  background-size: cover;
  background-position: center 40%;
}

main {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  padding-top: pxToRem(24px);
  padding-bottom: pxToRem(24px);

  .my-work-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    opacity: 0;
    transform: translateY(-100%);
    animation: slideDown 0.8s ease-out forwards;
    animation-delay: 0s;

    figure {
      margin: 0;
    }

    .my-work-header-img {
      width: 40px;
      height: 40px;

      &:nth-of-type(1) {
        transform: rotate(-15.55deg);
        margin-right: 2rem;
      }

      &:nth-of-type(2) {
        transform: rotate(20.6deg);
        margin-bottom: 3rem;
        margin-left: 1.8rem;
      }
    }
  }

  .my-work-par {
    @include typography(
      $font-family: 'Poppins',
      $font-weight: 500,
      $font-size: clamp(pxToRem(13px), -0.338rem + 4.909vw, pxToRem(15.7px)),
      $letter-spacing: 0
    );
    text-align: center;
    line-height: clamp(pxToRem(20px), -0.455rem + 7.273vw, pxToRem(24px));
    opacity: 0;
    transform: translateY(-100%);
    animation: slideDown 1s ease-out forwards;
    animation-delay: 0.4s;
    padding-bottom: 2rem;
  }

  .my-work-cards {
    @include flexbox(column, center, center, 0rem);
    gap: 32px;

    .my-work-card {
      position: relative;
      display: inline-block;
      overflow: hidden;
      text-align: left;
      background: rgba(0, 0, 0, 1);
      border-radius: 8px;
      height: pxToRem(228px);

      * {
        box-sizing: border-box;
        transition: all 0.4s ease;
      }

      .my-work-card-label {
        @include typography(
          $font-family: 'Poppins',
          $font-weight: 700,
          $font-size: pxToRem(30px),
          $letter-spacing: -1px
        );
        color: #EAE6DA;
        position: absolute;
        left: 20px;
        bottom: 20px;
        opacity: 0;
        transition: opacity 0.4s ease, transform 0.4s ease;
        transform: translateY(20px);
        z-index: 2;
      }

      &:hover img {
        opacity: 0.2;
        transform: scale(1.1);
      }

      &:hover .my-work-card-label {
        opacity: 1;
        transform: translateY(0);
      }

      &:before,
      &:after {
        position: absolute;
        top: 20px;
        right: 20px;
        content: '';
        background-color: #EAE6DA;
        z-index: 1;
        opacity: 0;
        transition: all 0.4s ease 0.25s;
      }

      &:before {
        width: 0;
        height: 2px;
        border-radius: 1rem;
      }

      &:after {
        height: 0;
        width: 2px;
        border-radius: 1rem;
      }

      &:hover:before {
        width: 40px;
        opacity: 1;
      }

      &:hover:after {
        height: 40px;
        opacity: 1;
      }
    }

    .my-work-card:nth-of-type(1) {
      opacity: 0;
      transform: translateY(-100%);
      animation: slideRight 0.8s ease-out forwards;
      animation-delay: 0.6s;
    }

    .my-work-card:nth-of-type(2) {
      opacity: 0;
      transform: translateY(-100%);
      animation: slideLeft 0.8s ease-out forwards;
      animation-delay: 0.8s;
    }

    .my-work-card:nth-of-type(3) {
      opacity: 0;
      transform: translateY(-100%);
      animation: slideRight 0.8s ease-out forwards;
      animation-delay: 1s;
    }

    .my-work-card:nth-of-type(4) {
      opacity: 0;
      transform: translateY(-100%);
      animation: slideLeft 0.8s ease-out forwards;
      animation-delay: 1.2s;
    }

    .my-work-card:nth-of-type(5) {
      opacity: 0;
      transform: translateY(-100%);
      animation: slideRight 0.8s ease-out forwards;
      animation-delay: 1.4s;
    }

    .my-work-card:nth-of-type(6) {
      opacity: 0;
      transform: translateY(-100%);
      animation: slideLeft 0.8s ease-out forwards;
      animation-delay: 1.6s;
    }
  }

  .my-work-social-media-butons {

    @include flexbox(row, space-between, center, 0rem);
    width: 100%;
    padding: 40px 24px;

    .my-work-social-media-button {

      @include typography($font-family: 'Poppins', $font-weight: 500, $font-size: clamp(pxToRem(13px), -0.338rem + 4.909vw, pxToRem(15.7px)), $letter-spacing: 0);
      @include flexbox(column, center, center, 0rem);
      gap: 8px;

      svg {
        stroke-width: 0px;

        path {
            fill: var(--text-color); 
        }
      }
    }
  }
}

//Desktops
@media (min-width: 1024px) and (max-width: 1920px) {
  .my-work-page {
    @include flexbox(column, center, center, 0rem);
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 0;

    .my-work-header {

      .my-work-heading {
        @include typography($font-family: 'Poppins', $font-weight: 700, $font-size: 4rem, $letter-spacing: -3px);
      }

      .my-work-header-img {
        width: 48px;
        height: 48px;
  
        &:nth-of-type(1) {
          transform: rotate(-15.55deg);
          margin-right: 4rem;
          margin-top: 2rem;
        }
  
        &:nth-of-type(2) {
          transform: rotate(20.6deg);
          margin-bottom: 3rem;
          margin-left: 4rem;
        }
      }
    }

    .my-work-par {
        @include typography($font-family: 'Poppins', $font-weight: 500, $font-size: 1.3rem, $letter-spacing: -1px);
        width: 50%;
        text-align: center;
        line-height: clamp(1.75rem, 0.917rem + 1.302vw, 3rem);
    }

    .my-work-cards {
      display: grid;
      grid-template-columns: auto auto auto;

      .my-work-card { 
        width: 417px;
        height: 223px;
      }
    }

    .my-work-social-media-butons { 
      display: none;
    }
  }
}

