@use "../index" as *;

.header-title {
    @include typography($font-family: 'Poppins', $font-weight: 700, $font-size: clamp(1.375rem, -0.33rem + 7.273vw, 1.625rem), $letter-spacing: -2px);
}

#hamburger-icon {
    @include flexbox(row, center, center, 0rem);
    svg {
        width: clamp(pxToRem(22px), 0.097rem + 5.455vw, pxToRem(25px));
        height: clamp(pxToRem(22px), 0.097rem + 5.455vw, pxToRem(25px));
    }
}

#header-expanded-top-close-icon {
    @include flexbox(row, center, center, 0rem);
    svg {
        width: clamp(pxToRem(22px), 0.097rem + 5.455vw, pxToRem(25px));
        height: clamp(pxToRem(22px), 0.097rem + 5.455vw, pxToRem(25px));
    }
}

#header-expanded { 
    @include flexbox(column, start, center, 0rem);

    position: fixed;
    top: 0;
    transform: translateX(100%);
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
    background-color: $primary-color;
}

#header-expanded.active {
    transform: translateX(0);
}

.header-top-section {
    @include flexbox(row, space-between, center, 0rem);
    padding: pxToRem(24px);
    width: 100vw;
}

.header-expanded-content {

    @include flexbox(column, space-between, center, 0rem);
    padding: clamp(pxToRem(24px), -8.727rem + 43.636vw, pxToRem(48px));
    padding-bottom: clamp(pxToRem(40px), -24.773rem + 116.364vw, pxToRem(104px));
    height: 100vh;

    .header-desktop-title {
        display: none;
    }

    .header-expanded-pages {
        @include flexbox(column, center, center, 0rem);
        
        li {
            padding: clamp(1rem, -5.818rem + 29.091vw, 2rem);
    
            a {
                @include typography($font-family: 'Poppins', $font-weight: 400, $font-size: clamp(1.125rem, 0.273rem + 3.636vw, 1.25rem), $letter-spacing: 0);
                padding-bottom: pxToRem(3px);
                position: relative;
                display: inline-block;
                overflow: hidden;
            
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: pxToRem(1.8px);
                    background-color: $text-color;
                    transform: scaleX(0);
                    transform-origin: left;
                }
            
                &:hover::after {
                    animation: underline-expand 0.4s ease-in-out forwards;
                }
            
                &:not(:hover)::after {
                    animation: underline-retract 0.4s ease-in-out forwards;
                }
            }
        }
    }

    .header-expanded-menu-splitter {
        width: pxToRem(24px);
        height: clamp(10rem, 4.886rem + 21.818vw, 10.75rem);
        stroke-width: 0;
        fill: $text-color;
    }

    .header-expanded-bottom {
        @include flexbox(column, space-around, center, 0rem);    
        gap: clamp(pxToRem(24px), -5.318rem + 29.091vw, pxToRem(40px));

        a {
            @include flexbox(row, space-between, center, 6px);    
            border: pxToRem(2px) solid $text-color;
            border-radius: pxToRem(24px);
            padding: pxToRem(8px) clamp(pxToRem(10px), -1.08rem + 7.273vw, pxToRem(14px));
        }

        .theme-btn {

            @include ripple-effect($secondary-color);
            padding: clamp(pxToRem(6px), -0.477rem + 3.636vw, pxToRem(8px)) clamp(pxToRem(10px), -0.227rem + 3.636vw, pxToRem(12px));
            display: inline-block;
            cursor: pointer;

            .theme-icon {
                @include flexbox(row, center, center, 0rem);
                width: clamp(pxToRem(16px), -0.705rem + 7.273vw, pxToRem(20px));
                height: clamp(pxToRem(16px), -0.705rem + 7.273vw, pxToRem(20px));
            }
        }

        .contact-me-btn {
            @include ripple-effect($secondary-color);
            @include typography($font-family: 'Poppins', $font-weight: 400, $font-size: clamp(pxToRem(16px), -0.705rem + 7.273vw, pxToRem(20px)), $letter-spacing: 0);
            border: pxToRem(2px) solid $text-color;
            border-radius: pxToRem(24px);
            padding: clamp(pxToRem(4px), -0.602rem + 3.636vw, pxToRem(6px)) clamp(pxToRem(10px), -0.227rem + 3.636vw, pxToRem(12px));
            display: inline-flex; 
            align-items: center;
            gap: pxToRem(6px);
        
            .contact-me-icon {
                @include flexbox(row, center, center, 0rem);
                width: clamp(pxToRem(16px), -0.705rem + 7.273vw, pxToRem(20px));
                height: clamp(pxToRem(16px), -0.705rem + 7.273vw, pxToRem(20px));
            }
        }        
    }
}


@media (min-width: 1024px) and (max-width:1920px) {
    
    .header-desktop-title {
        @include typography($font-family: 'Poppins', $font-weight: 600, $font-size: 32px, $letter-spacing: -2px);
    }

    .header-top-section {
        display: none;
    }

    #header-expanded {
        display: block;
        transform: translateX(0);
        position: relative;
        top: 0;
        height: pxToRem(116px);

        .header-expanded-content {
        
            @include flexbox(row, space-between, center, 0rem);
            height: auto;
            padding: clamp(2rem, 0.667rem + 2.083vw, 4rem) clamp(2.5rem, -7.786rem + 16.071vw, 11.5rem);
    
            .header-expanded-left-side {

                @include flexbox(row, start, center, 0rem);

                .header-desktop-title {
                    display: block;
                }

                .header-expanded-pages {
                    @include flexbox(row, space-between, center, 0rem);
                    padding-left: clamp(1.5rem, 0.5rem + 1.563vw, 3rem);

                    li {
                        padding: clamp(0.4rem, 0.167rem + 0.365vw, 0.75rem) clamp(1rem, -0.333rem + 2.083vw, 3rem) 0 clamp(1rem, -0.333rem + 2.083vw, 3rem);

                        a {
                            padding: 0;
                            @include typography($font-family: 'Poppins', $font-weight: 400, $font-size: clamp(1.25rem, 1.107rem + 0.223vw, 1.375rem), $letter-spacing: -1px);
                        }
                    }
                }
            }

            .header-expanded-menu-splitter {
                display: none;
            }

            .header-expanded-bottom {
                @include flexbox(row, space-between, center, 32px);
                gap: clamp(1rem, -0.333rem + 2.083vw, 3rem);

                a {
                    padding: clamp(0.563rem, 0.491rem + 0.112vw, 0.625rem) clamp(0.75rem, 0.607rem + 0.223vw, 0.875rem);
                    border-width: clamp(0.125rem, 0.108rem + 0.026vw, 0.15rem);
                    border-radius: 32px;

                    svg {
                        width: clamp(1rem, 0.714rem + 0.446vw, 1.25rem);
                        height: clamp(1rem, 0.714rem + 0.446vw, 1.25rem)
                    }
                }

                .contact-me-btn {
                    padding: 3px clamp(0.75rem, 0.607rem + 0.223vw, 1rem);
                    @include typography($font-family: 'Poppins', $font-weight: 400, $font-size: clamp(1.25rem, 0.964rem + 0.446vw, 1.5rem), $letter-spacing: -1px);
                }
            }
        }
    }
}